.product {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    flex: 1 1 calc(100% / 5 - 20px); 
    max-width: 220px;
}

.product:hover {
    transform: scale(1.02);
}

.product img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}

.product h3 {
    font-size: 18px;
    margin: 8px 0;
}

.product p {
    font-size: 14px;
    color: #555;
}

.product .buy-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color:  rgb(79, 127, 191);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}



.product .buy-button:hover {
    background-color: #0056b3;
}

button {
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:first-of-type {
    background-color: #28a745;
    color: white;
}

button:first-of-type:hover {
    background-color: #218838;
}

button:last-of-type {
    background-color: #dc3545;
    color: white;
}

button:last-of-type:hover {
    background-color: #c82333;
}

.share-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
.share-buttons button {
    display: flex;
    align-items: center;
    gap: 8px;
    background: white;  
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-weight: bold;
  }
  

  .share-buttons button img.WhatsApp {
    width: 43px;
    height: 43px;
}

.share-buttons button img.Telegram {
    width: 35px;
    height: 35px;
}


